<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>oauth2-shiro</display-name>

    <!--
        支持集群的配置
    -->
    <distributable/>

    <!--
        指定 webAppRootKey
    -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>oauth2-shiro</param-value>
    </context-param>

    <!--
        字符编码处理 , 统一为UTF-8
    -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.monkeyk.os.web.context.MkkCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
        启用GZIP 对静态资源进行压缩,
        减少数据传输大小
     -->
    <filter>
        <filter-name>gzipFilter</filter-name>
        <filter-class>
            net.sf.ehcache.constructs.web.filter.GzipFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>


    <!--
        Shiro Filter
        SHIRO 安全过滤器 配置
    -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--
        sitemesh filter
        装饰器
    -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/vnd.microsoft.icon</mime-type>
    </mime-mapping>

    <!--contextConfigLocation -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/*.xml</param-value>
    </context-param>

    <!--
        使用log4j的 配置
    -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>


    <!--
        Spring context listener
    -->
    <listener>
        <listener-class>com.monkeyk.os.web.context.BeanContextLoaderListener</listener-class>
    </listener>

    <!--
        Spring MVC
    -->
    <servlet>
        <servlet-name>mkk</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mkk</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/index.jsp</location>-->
    <!--</error-page>-->

    <!--
        Session 有效时长 30分钟
    -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>loading.jsp</welcome-file>
    </welcome-file-list>


</web-app>